<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="my_3d_robot">

    <xacro:include filename="$(find fishbot_description)/urdf/my_robot_base.xacro" />
    <xacro:include filename="$(find fishbot_description)/urdf/my_robot_sensors.xacro" />
    <xacro:include filename="$(find fishbot_description)/urdf/my_robot_ros2_control.xacro" />

    <xacro:my_robot_base radius="0.25" length="0.2" />

    <xacro:drive_wheel name="left" xyz="0 0.28 -0.1" />
    <xacro:drive_wheel name="right" xyz="0 -0.28 -0.1" />

    <xacro:caster_wheel name="front" xyz="0.2 0 -0.14" />
    <xacro:caster_wheel name="back" xyz="-0.2 0 -0.14" />

    <xacro:my_robot_sensors />
    <xacro:my_robot_ros2_control />

</robot>